<html>
<head>
<title>Welcome to Water Sources</title>
</head>
<body bgcolor="cyan">
<form action="{{ url_for("locationApi")}}" method="post">
<p><strong><h1><center>Welcome to Water Sources Finder.</center></h1></strong></p>
<p><center>Enter your city and country to continue.</center></p>
<p><center>Enter your city:</center><br>
<center><input type="text" id="cityname" name="cityname" placeholder="City Name."></center><br>
</p>
<p><center>Enter your country:</center><br>
<center><input type="text" id="countryname" name="countryname" placeholder="Country Name."></center><br>
</p>
<center><input type="submit" value="Submit"></center>
<form>
</body>
</html>



