<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_167d9edecf62ae06cbeb7ac1c4d0bf4c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_167d9edecf62ae06cbeb7ac1c4d0bf4c" ></div>
        
</body>
<script>
    
    
            var map_167d9edecf62ae06cbeb7ac1c4d0bf4c = L.map(
                "map_167d9edecf62ae06cbeb7ac1c4d0bf4c",
                {
                    center: [18.521428, 73.8544541],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ffbd9995800865934237532aaff418a2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
            var circle_marker_248a7f23d55727d0248b83bd807382dd = L.circleMarker(
                [18.584151, 73.901181],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_330ea362c5549e63d44d3922c5233df6 = L.popup({"maxWidth": "100%"});

        
            
                var html_88d7ce767594810ebaddf97e4e2376be = $(`<div id="html_88d7ce767594810ebaddf97e4e2376be" style="width: 100.0%; height: 100.0%;">Water Body No. 1</div>`)[0];
                popup_330ea362c5549e63d44d3922c5233df6.setContent(html_88d7ce767594810ebaddf97e4e2376be);
            
        

        circle_marker_248a7f23d55727d0248b83bd807382dd.bindPopup(popup_330ea362c5549e63d44d3922c5233df6)
        ;

        
    
    
            var circle_marker_40332f800fde413aad19f4ee9e92d6d6 = L.circleMarker(
                [18.584263, 73.900966],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_0ed1211e3996e33e796282ef54cf2bb9 = L.popup({"maxWidth": "100%"});

        
            
                var html_5c805861b7612e8be6110aed1013a388 = $(`<div id="html_5c805861b7612e8be6110aed1013a388" style="width: 100.0%; height: 100.0%;">Water Body No. 2</div>`)[0];
                popup_0ed1211e3996e33e796282ef54cf2bb9.setContent(html_5c805861b7612e8be6110aed1013a388);
            
        

        circle_marker_40332f800fde413aad19f4ee9e92d6d6.bindPopup(popup_0ed1211e3996e33e796282ef54cf2bb9)
        ;

        
    
    
            var circle_marker_67abda8030f694b60654c9108b7dc577 = L.circleMarker(
                [18.584355, 73.900816],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_59cc4d499ed1df9134d5f47624bd6ba7 = L.popup({"maxWidth": "100%"});

        
            
                var html_15ac640407555bc362926f9053dd71e8 = $(`<div id="html_15ac640407555bc362926f9053dd71e8" style="width: 100.0%; height: 100.0%;">Water Body No. 3</div>`)[0];
                popup_59cc4d499ed1df9134d5f47624bd6ba7.setContent(html_15ac640407555bc362926f9053dd71e8);
            
        

        circle_marker_67abda8030f694b60654c9108b7dc577.bindPopup(popup_59cc4d499ed1df9134d5f47624bd6ba7)
        ;

        
    
    
            var circle_marker_b79c684cc9fba4d31978314c70fc7041 = L.circleMarker(
                [18.584502, 73.900733],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_fac5d5f66a0ada78acefeec343d6d353 = L.popup({"maxWidth": "100%"});

        
            
                var html_9f8e4aa90f1c0c03cce474496db2a3e4 = $(`<div id="html_9f8e4aa90f1c0c03cce474496db2a3e4" style="width: 100.0%; height: 100.0%;">Water Body No. 4</div>`)[0];
                popup_fac5d5f66a0ada78acefeec343d6d353.setContent(html_9f8e4aa90f1c0c03cce474496db2a3e4);
            
        

        circle_marker_b79c684cc9fba4d31978314c70fc7041.bindPopup(popup_fac5d5f66a0ada78acefeec343d6d353)
        ;

        
    
    
            var circle_marker_d84c4231852098324e106a5a79c1435a = L.circleMarker(
                [18.584965, 73.900548],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_8a636b4f292e53600610c6efe69184d8 = L.popup({"maxWidth": "100%"});

        
            
                var html_fef057de4b57adb0e82bf8635b90cd90 = $(`<div id="html_fef057de4b57adb0e82bf8635b90cd90" style="width: 100.0%; height: 100.0%;">Water Body No. 5</div>`)[0];
                popup_8a636b4f292e53600610c6efe69184d8.setContent(html_fef057de4b57adb0e82bf8635b90cd90);
            
        

        circle_marker_d84c4231852098324e106a5a79c1435a.bindPopup(popup_8a636b4f292e53600610c6efe69184d8)
        ;

        
    
    
            var circle_marker_84dfa785a0ed4f375b943e6e42c0b8ff = L.circleMarker(
                [18.585136, 73.900561],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_abec3cc9e3fea1ed31b75efb094880ac = L.popup({"maxWidth": "100%"});

        
            
                var html_5147e909d4fa224c9f5bf1f777d71828 = $(`<div id="html_5147e909d4fa224c9f5bf1f777d71828" style="width: 100.0%; height: 100.0%;">Water Body No. 6</div>`)[0];
                popup_abec3cc9e3fea1ed31b75efb094880ac.setContent(html_5147e909d4fa224c9f5bf1f777d71828);
            
        

        circle_marker_84dfa785a0ed4f375b943e6e42c0b8ff.bindPopup(popup_abec3cc9e3fea1ed31b75efb094880ac)
        ;

        
    
    
            var circle_marker_a992177429fbd3916e2cf1e44381978a = L.circleMarker(
                [18.585412, 73.900751],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_f823d79af128137f94a4325eec9ffcd5 = L.popup({"maxWidth": "100%"});

        
            
                var html_5767b9bde5406a489ca6b227654ce151 = $(`<div id="html_5767b9bde5406a489ca6b227654ce151" style="width: 100.0%; height: 100.0%;">Water Body No. 7</div>`)[0];
                popup_f823d79af128137f94a4325eec9ffcd5.setContent(html_5767b9bde5406a489ca6b227654ce151);
            
        

        circle_marker_a992177429fbd3916e2cf1e44381978a.bindPopup(popup_f823d79af128137f94a4325eec9ffcd5)
        ;

        
    
    
            var circle_marker_3745b0907b29549ae05c984db08fcdaf = L.circleMarker(
                [18.585478, 73.900948],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_ee14305ea315b539ce79d725249e205c = L.popup({"maxWidth": "100%"});

        
            
                var html_487dccbc33d84393321d58a0ffa9e914 = $(`<div id="html_487dccbc33d84393321d58a0ffa9e914" style="width: 100.0%; height: 100.0%;">Water Body No. 8</div>`)[0];
                popup_ee14305ea315b539ce79d725249e205c.setContent(html_487dccbc33d84393321d58a0ffa9e914);
            
        

        circle_marker_3745b0907b29549ae05c984db08fcdaf.bindPopup(popup_ee14305ea315b539ce79d725249e205c)
        ;

        
    
    
            var circle_marker_5525b58df1f18c3c7f1a1e50ee96c102 = L.circleMarker(
                [18.585372, 73.901438],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_35ab31f2a13659a36407b203e3a681e9 = L.popup({"maxWidth": "100%"});

        
            
                var html_0eb123d375f590ff048ed8dc0f9e887c = $(`<div id="html_0eb123d375f590ff048ed8dc0f9e887c" style="width: 100.0%; height: 100.0%;">Water Body No. 9</div>`)[0];
                popup_35ab31f2a13659a36407b203e3a681e9.setContent(html_0eb123d375f590ff048ed8dc0f9e887c);
            
        

        circle_marker_5525b58df1f18c3c7f1a1e50ee96c102.bindPopup(popup_35ab31f2a13659a36407b203e3a681e9)
        ;

        
    
    
            var circle_marker_07966cc08084a9faf4f22308f6daa8d4 = L.circleMarker(
                [18.585413, 73.901634],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_e84fd39f808127ae7853a7499701c956 = L.popup({"maxWidth": "100%"});

        
            
                var html_f6ead2f6e1892676e63c627a1727da25 = $(`<div id="html_f6ead2f6e1892676e63c627a1727da25" style="width: 100.0%; height: 100.0%;">Water Body No. 10</div>`)[0];
                popup_e84fd39f808127ae7853a7499701c956.setContent(html_f6ead2f6e1892676e63c627a1727da25);
            
        

        circle_marker_07966cc08084a9faf4f22308f6daa8d4.bindPopup(popup_e84fd39f808127ae7853a7499701c956)
        ;

        
    
    
            var circle_marker_325a73e0a7d02f397c9a8e78179a172a = L.circleMarker(
                [18.585315, 73.902149],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_0409f7a2c9adede7a8eff78073ca8eb6 = L.popup({"maxWidth": "100%"});

        
            
                var html_203cffff0f320f9c4c5fbb50e6ef4b4f = $(`<div id="html_203cffff0f320f9c4c5fbb50e6ef4b4f" style="width: 100.0%; height: 100.0%;">Water Body No. 11</div>`)[0];
                popup_0409f7a2c9adede7a8eff78073ca8eb6.setContent(html_203cffff0f320f9c4c5fbb50e6ef4b4f);
            
        

        circle_marker_325a73e0a7d02f397c9a8e78179a172a.bindPopup(popup_0409f7a2c9adede7a8eff78073ca8eb6)
        ;

        
    
    
            var circle_marker_e868e6aa68c1d661d8002016fe7eb213 = L.circleMarker(
                [18.585249, 73.902243],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_39d4eca0baeaa7a529dd353c77c0a2b3 = L.popup({"maxWidth": "100%"});

        
            
                var html_8825f462afd1baefefd70ac296e485b5 = $(`<div id="html_8825f462afd1baefefd70ac296e485b5" style="width: 100.0%; height: 100.0%;">Water Body No. 12</div>`)[0];
                popup_39d4eca0baeaa7a529dd353c77c0a2b3.setContent(html_8825f462afd1baefefd70ac296e485b5);
            
        

        circle_marker_e868e6aa68c1d661d8002016fe7eb213.bindPopup(popup_39d4eca0baeaa7a529dd353c77c0a2b3)
        ;

        
    
    
            var circle_marker_c43e14582b584bc8392c2d2cf8a3ba98 = L.circleMarker(
                [18.585158, 73.902264],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_a7497f33e65387217c114c61dca8fee5 = L.popup({"maxWidth": "100%"});

        
            
                var html_3781858b4e634e8086f53c980795df2b = $(`<div id="html_3781858b4e634e8086f53c980795df2b" style="width: 100.0%; height: 100.0%;">Water Body No. 13</div>`)[0];
                popup_a7497f33e65387217c114c61dca8fee5.setContent(html_3781858b4e634e8086f53c980795df2b);
            
        

        circle_marker_c43e14582b584bc8392c2d2cf8a3ba98.bindPopup(popup_a7497f33e65387217c114c61dca8fee5)
        ;

        
    
    
            var circle_marker_4bf21f05ec20180a10ec91258b155971 = L.circleMarker(
                [18.585066, 73.902275],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_baee459f9ade6d27364d8ddc258b2732 = L.popup({"maxWidth": "100%"});

        
            
                var html_bd25066e3a4b1dfc091d5d7904e12c07 = $(`<div id="html_bd25066e3a4b1dfc091d5d7904e12c07" style="width: 100.0%; height: 100.0%;">Water Body No. 14</div>`)[0];
                popup_baee459f9ade6d27364d8ddc258b2732.setContent(html_bd25066e3a4b1dfc091d5d7904e12c07);
            
        

        circle_marker_4bf21f05ec20180a10ec91258b155971.bindPopup(popup_baee459f9ade6d27364d8ddc258b2732)
        ;

        
    
    
            var circle_marker_b2da8069692e50d333ae25013c89eeb3 = L.circleMarker(
                [18.584812, 73.902232],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_71ed98d71c394df7d8686932d9e58201 = L.popup({"maxWidth": "100%"});

        
            
                var html_4ee381dfb1f13ce091ce440ce4820473 = $(`<div id="html_4ee381dfb1f13ce091ce440ce4820473" style="width: 100.0%; height: 100.0%;">Water Body No. 15</div>`)[0];
                popup_71ed98d71c394df7d8686932d9e58201.setContent(html_4ee381dfb1f13ce091ce440ce4820473);
            
        

        circle_marker_b2da8069692e50d333ae25013c89eeb3.bindPopup(popup_71ed98d71c394df7d8686932d9e58201)
        ;

        
    
    
            var circle_marker_d6f86ce22aea6cbdfac95d9e2cff62f9 = L.circleMarker(
                [18.584619, 73.902135],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_684b11bba0960d89ae37b380a4ae8d1f = L.popup({"maxWidth": "100%"});

        
            
                var html_dbf673dd2d5be335f9fc9dc9d7c21c5f = $(`<div id="html_dbf673dd2d5be335f9fc9dc9d7c21c5f" style="width: 100.0%; height: 100.0%;">Water Body No. 16</div>`)[0];
                popup_684b11bba0960d89ae37b380a4ae8d1f.setContent(html_dbf673dd2d5be335f9fc9dc9d7c21c5f);
            
        

        circle_marker_d6f86ce22aea6cbdfac95d9e2cff62f9.bindPopup(popup_684b11bba0960d89ae37b380a4ae8d1f)
        ;

        
    
    
            var circle_marker_fdabb291f3b8d355b74b079d3ec0d4da = L.circleMarker(
                [18.584456, 73.902082],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_45b65eb24adf0191d9443304bd88b889 = L.popup({"maxWidth": "100%"});

        
            
                var html_38494e5d79f4d680486c0560f9223684 = $(`<div id="html_38494e5d79f4d680486c0560f9223684" style="width: 100.0%; height: 100.0%;">Water Body No. 17</div>`)[0];
                popup_45b65eb24adf0191d9443304bd88b889.setContent(html_38494e5d79f4d680486c0560f9223684);
            
        

        circle_marker_fdabb291f3b8d355b74b079d3ec0d4da.bindPopup(popup_45b65eb24adf0191d9443304bd88b889)
        ;

        
    
    
            var circle_marker_5d2a5ff8d5c4c8b5cedda09187ef8c73 = L.circleMarker(
                [18.584395, 73.901985],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_976c03ebdd68362b68584fa1e1c5789e = L.popup({"maxWidth": "100%"});

        
            
                var html_a725f6e681a6b6380362fd39d72b72eb = $(`<div id="html_a725f6e681a6b6380362fd39d72b72eb" style="width: 100.0%; height: 100.0%;">Water Body No. 18</div>`)[0];
                popup_976c03ebdd68362b68584fa1e1c5789e.setContent(html_a725f6e681a6b6380362fd39d72b72eb);
            
        

        circle_marker_5d2a5ff8d5c4c8b5cedda09187ef8c73.bindPopup(popup_976c03ebdd68362b68584fa1e1c5789e)
        ;

        
    
    
            var circle_marker_84e7ce3763d6e1beac7394145af1e673 = L.circleMarker(
                [18.584426, 73.90191],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_1b77967a5c0a1f9b5579730487965448 = L.popup({"maxWidth": "100%"});

        
            
                var html_1ee48e70ce53424ec73ff1ac6150fa79 = $(`<div id="html_1ee48e70ce53424ec73ff1ac6150fa79" style="width: 100.0%; height: 100.0%;">Water Body No. 19</div>`)[0];
                popup_1b77967a5c0a1f9b5579730487965448.setContent(html_1ee48e70ce53424ec73ff1ac6150fa79);
            
        

        circle_marker_84e7ce3763d6e1beac7394145af1e673.bindPopup(popup_1b77967a5c0a1f9b5579730487965448)
        ;

        
    
    
            var circle_marker_8482d5e84cd6de3a5f1994dee883401c = L.circleMarker(
                [18.584395, 73.901685],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_fe5920ca922f57c11eeb72c78354c030 = L.popup({"maxWidth": "100%"});

        
            
                var html_494c602530d9fdb9f55ac9f90d65dd6b = $(`<div id="html_494c602530d9fdb9f55ac9f90d65dd6b" style="width: 100.0%; height: 100.0%;">Water Body No. 20</div>`)[0];
                popup_fe5920ca922f57c11eeb72c78354c030.setContent(html_494c602530d9fdb9f55ac9f90d65dd6b);
            
        

        circle_marker_8482d5e84cd6de3a5f1994dee883401c.bindPopup(popup_fe5920ca922f57c11eeb72c78354c030)
        ;

        
    
    
            var circle_marker_ce9943a1ae2e37e83a3fab494af74d90 = L.circleMarker(
                [18.584263, 73.901728],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_f7659797c87eafcc828ad81c038cf8f0 = L.popup({"maxWidth": "100%"});

        
            
                var html_4f31a5290a269f902c5a535d8249533f = $(`<div id="html_4f31a5290a269f902c5a535d8249533f" style="width: 100.0%; height: 100.0%;">Water Body No. 21</div>`)[0];
                popup_f7659797c87eafcc828ad81c038cf8f0.setContent(html_4f31a5290a269f902c5a535d8249533f);
            
        

        circle_marker_ce9943a1ae2e37e83a3fab494af74d90.bindPopup(popup_f7659797c87eafcc828ad81c038cf8f0)
        ;

        
    
    
            var circle_marker_ae3a23b75c4206913568d904b73ca4bd = L.circleMarker(
                [18.584233, 73.90161],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_d80b6e20b0cc8ecba621ee52c61176cd = L.popup({"maxWidth": "100%"});

        
            
                var html_ce0addb69addcd654690f7d3383ab97c = $(`<div id="html_ce0addb69addcd654690f7d3383ab97c" style="width: 100.0%; height: 100.0%;">Water Body No. 22</div>`)[0];
                popup_d80b6e20b0cc8ecba621ee52c61176cd.setContent(html_ce0addb69addcd654690f7d3383ab97c);
            
        

        circle_marker_ae3a23b75c4206913568d904b73ca4bd.bindPopup(popup_d80b6e20b0cc8ecba621ee52c61176cd)
        ;

        
    
    
            var circle_marker_1d55f2848655a2bbbe046e8ed8c7a0f9 = L.circleMarker(
                [18.584141, 73.901427],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_fd7e8e0c622d4ca4cdcb86d34edc7f55 = L.popup({"maxWidth": "100%"});

        
            
                var html_519616edc21291a10a0fa93775db12e8 = $(`<div id="html_519616edc21291a10a0fa93775db12e8" style="width: 100.0%; height: 100.0%;">Water Body No. 23</div>`)[0];
                popup_fd7e8e0c622d4ca4cdcb86d34edc7f55.setContent(html_519616edc21291a10a0fa93775db12e8);
            
        

        circle_marker_1d55f2848655a2bbbe046e8ed8c7a0f9.bindPopup(popup_fd7e8e0c622d4ca4cdcb86d34edc7f55)
        ;

        
    
    
            var circle_marker_636b0757e02937575d56a5d1672f9df3 = L.circleMarker(
                [18.584151, 73.901181],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_167d9edecf62ae06cbeb7ac1c4d0bf4c);
        
    
        var popup_5d319ef3f6e54837ec42c7b222beeb90 = L.popup({"maxWidth": "100%"});

        
            
                var html_7279f996bb168d844a50d1e7c6b25f91 = $(`<div id="html_7279f996bb168d844a50d1e7c6b25f91" style="width: 100.0%; height: 100.0%;">Water Body No. 24</div>`)[0];
                popup_5d319ef3f6e54837ec42c7b222beeb90.setContent(html_7279f996bb168d844a50d1e7c6b25f91);
            
        

        circle_marker_636b0757e02937575d56a5d1672f9df3.bindPopup(popup_5d319ef3f6e54837ec42c7b222beeb90)
        ;

        
    
</script>
</html>